@mixin button($color) {
    background-color: $color;
      &:hover {
        background-color: lighten($color, 7%);
      }
  }
  

@mixin block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}