

// Variables

$color-text: #777;
$color-main: #58e1c1;
$color-link-def-btn: #51ddfc;
$color-btn-err: #e4757a;
$color-warning: #fd7856;

$break-lg: 768px;

$upper: uppercase;

$font-main: 'Lato', sans-serif;
